<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bluesteel</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
                integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
                crossorigin="anonymous"></script>
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="media/apple-touch-icon.png">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="media/favicon-32x32.png">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="media/favicon-16x16.png">
        <link rel="manifest" href="media/site.webmanifest">
        <style>
        .nav-link {
            cursor: pointer;
            text-decoration: none;
            text-wrap: none;
        }

        #screen-container {
            transition: background-color 0.2s ease-in-out;
        }

        #screen-container.flash {
            background-color: white !important;
        }

        #screen-container.running {
            background-image: radial-gradient(circle, #00AAFF44, #2B2B2B)!important;
        }

        </style>
    </head>
    <body style="background-color: #000;
                 color: #00AAFF;
                 font-family: 'Courier New', Courier, monospace">
        <div class="position-relative">
            <img src="media/mac.jpg"
                 alt="computer background"
                 class="img-fluid d-block w-100">
            <div id="mouse-button"
                 class="position-absolute rounded-circle"
                 style="width: 9%;
                        height: 2%;
                        top: 79%;
                        left: 79%;
                        cursor: pointer"
                 onclick="bootComputer()"></div>
            <div class="position-absolute w-100 px-5 pt-4" style="top: 0; left: 0">
                <div id="nav" class="row justify-content-between">
                    <a href="/" class="nav-link col-sm-8 no-wrap p-0">
                        <h1 class="mb-0">Bluesteel Software co</h1>
                    </a>
                    <div id="nav"
                         class="d-flex justify-content-end align-items-end gap-4 col-sm-4 no-wrap p-0">
                        <a hx-get="/about.html" hx-target="#content" class="nav-link">About</a>
                        <a hx-get="/contact.html" hx-target="#content" class="nav-link">Contact</a>
                    </div>
                </div>
                <div id="content" class="mt-2">
                    <h4>The files are in the computer.</h4>
                </div>
            </div>
            <div id="computer"
                 class="position-absolute"
                 style="width: 46%;
                        height: 48%;
                        top: 27%;
                        left: 20%">
                <div id="screen-container"
                     class="position-absolute"
                     style="width: 73%;
                            height: 46%;
                            top: 15%;
                            left: 14%;
                            border-radius: 10%"></div>
            </div>
        </div>
        <script>
        function bootComputer() {
            const screenContainer = document.getElementById('screen-container');
            screenContainer.classList.add('flash', 'running');
            setTimeout(() => screenContainer.classList.remove('flash'), 690);
            setTimeout(() => runShell(), 2000)
        }

        </script>
        <script src="runShell.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>
    </body>
</html>
